@import './theme';
@import './variables';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family:'Roboto', sans-serif;
  background-color: $gray-lightest;
  overflow-y: hidden;

  @include breakpoint(sm) {
    overflow-y: scroll;
    scroll-behavior: smooth;
  }
}