@import './theme';
@import './variables';
@import './mixins';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family:'Roboto', sans-serif;
  background-color: $gray-lightest;
  overflow-y: hidden;
  transition: background-color 0.5s ease-out;

  @include dark {
    background-color: $gray-dark;
  }

  @include breakpoint(sm) {
    overflow-y: scroll;
    scroll-behavior: smooth;
  }
}