@import './theme';
@import './variables';
@import './mixins';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family:'Roboto', sans-serif;
  background-color: $gray-lightest;
  overflow-y: hidden;
  transition: background-color 0.5s ease-out;

  @include dark-contrast {
    background-color: $dt-dark;
  }

  @include invert-contrast {
    background-color: invert($color: $gray-lightest);
  }

  @include desaturated-contrast {
    filter: grayscale(100%);
  }

  img {
    @include invert-contrast {
      filter: invert(1);
    }
  }

  @include breakpoint(sm) {
    overflow-y: scroll;
    scroll-behavior: smooth;
  }
}