$white:           #ffffff !default;
$black:           #182625 !default;
$blue:            #081226 !default;
$gray:            #C8C8C8 !default;
$gray-lightest:   #F7F7F7 !default;

$primary:           $blue  !default;