$white:           #ffffff !default;
$black:           #202020 !default;
$blue:            #081226 !default;
$gray:            #C8C8C8 !default;
$gray-lightest:   #F6F8FA !default;
$green:           #38ba7c !default;
$green-dark:       #23aa69 !default;
$red:             #f34542 !default;
$red-dark:         #e02f2c !default;
$orange:          #ffc107!default;

$primary:           $blue  !default;