@import './theme';
@import './variables';

button.button-primary {
  width: 124px;
  height: 40px;
  border-radius: 5px;
  color: $white;
  background-color: $primary;
  font-size: 14px;
  line-height: 14px;
  font-weight: 600;
  cursor: pointer;
  border: 0;
  
  &.button-full {
    width: 100%;
  }

  @include breakpoint(md) {
    height: 36px;
    font-size: 13px;
    line-height: 13px;
  }

  @include breakpoint(md) {
    height: 34px;
    font-size: 12px;
    line-height: 12px;
  }

  &.button-confirm {
    background-color: $green;
    color: $white;

    &:hover {
      background-color: $green-dark;
      color: $white;
    }

    &:disabled {
      background-color: $gray;
    }

    @include breakpoint(sm) {
      width: 110px;
    }
  }

  &.button-cancel {
    background-color: transparent;
    color: $red;
    border: 2px solid $red;
    transition: 0.2s;

    &:hover {
      background-color: $red;
      color: $white;
    }

    @include breakpoint(sm) {
      width: 110px;
    }
  }
}