@import './theme';
@import './variables';

button {
  width: 124px;
  height: 40px;
  background: $primary;
  color: $white;
  border-radius: 5px;
  border: 0;
  font-size: 14px;
  line-height: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: filter 0.2;

  @include breakpoint(sm) {
    width: 100%;
  }

  &:hover {
    background-color: #0D1717;
  }
}