@import './theme';
@import './variables';
@import './mixins';

button.button-primary {
  width: 124px;
  height: 40px;
  border-radius: 5px;
  color: $white;
  background-color: $primary;
  font-size: 14px;
  line-height: 14px;
  font-weight: 600;
  cursor: pointer;
  border: 0;

  @include dark-contrast  {
    border: 1px solid $dt-green;
    background-color: transparent;
    color: $dt-green;
  }

  &.button-full {
    width: 100%;
  }

  @include breakpoint(md) {
    height: 36px;
    font-size: 13px;
    line-height: 13px;
  }

  @include breakpoint(md) {
    height: 34px;
    font-size: 12px;
    line-height: 12px;
  }

  @include invert-contrast {
    background-color: invert($color: $primary);
    color: invert($color: $white);
  }
  
  &:hover {
    @include dark-contrast {
      background-color: $dt-green;
      color: $dt-dark;
    }
  }

  &.button-confirm {
    background-color: $green;
    color: $white;

    @include dark-contrast {
      background-color: $dt-green;
      color: $dt-dark;
    }

    @include invert-contrast {
      background-color: invert($color: $green);
      color: invert($color: $white);
    }

    &:hover {
      background-color: $green-dark;
      color: $white;

      @include dark-contrast {
        background-color: $dt-green;
        color: $dt-dark;
      }

      @include invert-contrast {
        background-color: invert($color: $green-dark);
        color: invert($color: $white);
      }
    }

    &:disabled {
      background-color: $gray;
      cursor: auto;

      @include dark-contrast {
        color: $gray-dark-light;
        background-color: $gray-dark;
        border: 1px solid $gray-dark-light;
      }
    }

    @include breakpoint(sm) {
      width: 110px;
    }
  }

  &.button-cancel {
    background-color: transparent;
    color: $red;
    border: 2px solid $red;
    transition: 0.2s;

    @include dark-contrast {
      border: 1px solid $dt-coral !important;
      background-color: transparent;
      color: $dt-coral;
    }

    @include invert-contrast {
      border-color: invert($color: $red);
      color: invert($color: $white);
    }

    &:hover {
      background-color: $red;
      color: $white;

      @include dark-contrast {
        background-color: $dt-coral;
        color: $dt-dark;
      }

      @include invert-contrast {
        background-color: invert($color: $red);
        color: invert($color: $white);
      }
    }

    @include dark-contrast  {
      border: 2px solid $red;
    }

    @include breakpoint(sm) {
      width: 110px;
    }
  }
}