@import './theme';
@import './variables';
@import './mixins';

div.card-environment {
  display: flex;
  width: 320px;
  height: 405px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 5px;
  margin-bottom: 10px;

  @include breakpoint(sm) {
    width: 100%;
    max-width: 300px;
    height: 394px;
  }

  @include breakpoint(xs) {
    height: 370px;
  }

  @include dark-contrast {
    background-color: $gray-dark-light;
    transition: background-color 0.5s ease-out;
    box-shadow: none;
    color: $gray-lightest;
  }

  &.card-environment-maintenance {
    box-shadow: none;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(200, 200, 200, 0.8);
      border-radius: 5px;

      @include dark-contrast {
        background-color: rgba(8, 8, 8, 0.801);
      }
    }

    position: relative;
    z-index: 1;

    div.card-environment-maintenance-message {
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      height: 100%;
      position: absolute;

      svg.gear {
        color: $primary;
        animation: spin 6s linear infinite;

        @include breakpoint(sm) {
          width: 30px;
        }

        @include dark-contrast {
          color: $gray-lightest;
        }

        @keyframes spin {
          from {
            transform: rotate(0deg);
          }
      
          to {
            transform: rotate(360deg);
          }
        }
      }

      span {
        margin-top: 10px;
        font-size: 16px;
        font-weight: 600;

        @include breakpoint(sm) {
          font-size: 14px;
        }

        @include dark-contrast {
          color: $gray-lightest;
        }
      }
    }
  }

  div.card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    width: 100%;

    @include breakpoint(xs) {
      padding: 20px 16px;
    }
    
    div.card-image {
      width: 100%;

      img {
        width: 100%;
        max-width: 280px;
        height: 152px;
        border-radius: 10px;
        object-fit: cover;
      }
    }

    div.card-title {
      width: 100%;
      margin-top: 20px;
      margin-bottom: 10px;

      h3 {
        font-size: 18px;
        line-height: 24px;

        @include breakpoint(sm) {
          font-size: 16px;
          line-height: 24px;
        }
      }
    }

    div.card-description {
      width: 100%;

      span {
        font-size: 14px;
        line-height: 20px;
        overflow: hidden; 
        text-overflow: ellipsis; 
        display: -webkit-box;
        -webkit-line-clamp: 4; 
        -webkit-box-orient: vertical;

        @include breakpoint(xs) {
          font-size: 12px;
          line-height: 18px;
        }
      }
    }

    div.card-footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 20px;

      div.card-info {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        svg {
          color: $black;

          @include dark-contrast {
            color: $gray-lightest;
          }
        }

        strong {
          font-size: 16px;
        }
      }
    
      div.card-button {
        display: flex;
      }
    }
  } 
}