@import './theme';
@import './variables';
@import './mixins';

div.modal-confirm-signout-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  div.modal-confirm-signout {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 370px;
    height: 230px;
    border-radius: 10px;
    background-color: $white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 30px;

    @include breakpoint(sm) {
      width: 300px;
      height: 200px;
      padding: 20px 16px;
      margin: 0 20px;
    }

    @include dark {
      background-color: $gray-dark-light;
      box-shadow: none;
    }

    div.modal-confirm-signout-button-close {
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;
      width: 100%;

      button.modal-confirm-signout-button-default {
        background-color: transparent;
        width: 22px;
        height: 22px;
        border: 0;

        svg {
          color: $black;
          cursor: pointer;

          @include breakpoint(sm) {
            width: 18px;
            height: 18px;
          }

          @include dark {
            color: $gray-lightest;
          }
        }
      }
    }

    div.modal-confirm-signout-content {
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 2rem;
      width: 100%;
      height: 230px;

      div.modal-confirm-signout-message {
        width: 100%;
    
        h4 {
          font-size: 18px;
          line-height: 24px;
          color: $black;
          text-align: center;
          font-weight: 600;

          @include breakpoint(sm) {
            font-size: 14px;
            line-height: 22px;
            padding: 0 30px;
          }

          @include dark {
            color: $gray-lightest;
          }
        }
      }

      div.modal-confirm-signout-content-form {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
      }
    }
  }
}