@import './theme';
@import './variables';
@import './mixins';

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  position: fixed;
  bottom: 0;
 
  &.full {
    width: 100%;
    background-color: $gray-lightest;

    @include dark {
      background-color: $gray-dark;
    }
  }

  span {
    font-size: 11px;
    line-height: 11px;
    color: $black;
    text-align: center;

    @include dark {
      color: $white;
    }

    @include breakpoint(sm) {
      font-size: 9px;
      line-height: 9px;
    }
  }
}