@import './theme';
@import './variables';

div.page-forgot-password {
  display: flex;
  align-items: stretch;
  height: 100vh;

  aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 6;
    background: $primary;
    color: $white;
    padding: 120px 80px;

    @include breakpoint(lg) {
      padding: 120px 40px;
    }

    @include breakpoint(md) {
      display: none;
    }

    div.page-forgot-password-title {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      h1 {
        color: $white;
        font-size: 42px;
        line-height: 42px;
        font-weight: 600;
        margin-bottom: 30px;

        @include breakpoint(xl) {
          font-size: 30px;
          line-height: 30px;
        }

        span {
          font-weight: 400;
        }

        @include breakpoint(sm) {
          font-size: 30px;
          line-height: 30px;
        }
      }
    }

    div.page-forgot-password-image {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      img {
        width: 100%;
        max-width: 600px;

        @include breakpoint(xl) {
          max-width: 450px;
        }
      }
    }

    div.page-forgot-password-description {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      strong {
        font-size: 22px;
        line-height: 22px;
      }
    
      p {
        font-size: 16px;
        line-height: 20px;
        margin-top: 10px;
        color: $white;
      }
    }
  }

  main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 9;
    background: $white;
    background-image: url('../assets//wave-vertical.png');
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;

    @include breakpoint(md) {
      justify-content: flex-start;
      background-image: none;
    }

    div.page-forgot-password-logo {
      background-image: url('../assets//wave-horizontal.png');
      background-position: bottom;
      background-size: contain;
      background-repeat: no-repeat;
      display: none;
      width: 100%;
      height: 30vh;
      background-color: $primary;
      padding: 0 20px;

      @include breakpoint(md) {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }

      h1 {
        color: $white;
        font-size: 42px;
        line-height: 42px;
        font-weight: 600;
        margin-bottom: 30px;
        text-align: center;

        @include breakpoint(xl) {
          font-size: 30px;
          line-height: 30px;
        }
      }
    }

    div.page-forgot-password-form {
      max-width: 370px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 0 30px;

      h4 {
        color: $primary;
        font-size: 28px;
        line-height: 28px;
        font-weight: 600;
        margin: 40px 0px;

        @include breakpoint(lg) {
          font-size: 18px;
          line-height: 18px;
        }

        @include breakpoint(sm) {
          font-size: 18px;
          line-height: 18px;
        }
      }

      form {
        display: flex;
        flex-direction: column;
        width: 100%;

        div.page-login-footer {
          display: flex;
          align-items: flex-end;
          flex-direction: column;
          gap: 2rem;
        }
      }

      div.page-forgot-password-footer-login {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;

        span {
          font-size: 12px;
          color: $primary;
          margin-top: 20px;
        }

        a {
          color: $primary;
          font-size: 16px;
          line-height: 16px;
          text-decoration: none;

          @include breakpoint(sm) {
            font-size: 13px;
            line-height: 13px;
          }
        }
      }
    }

    div.page-forgot-password-feedback {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      margin: 40px 0px;

      svg {
        width: 60px;
        height: 60px;
        color: $green;

        @include breakpoint(sm) {
          width: 40px;
          height: 40px
        }
      }

      span {
        color: $primary;
        font-size: 16px;
        line-height: 16px;

        @include breakpoint(sm) {
          font-size: 14px;
          line-height: 14px;
        }
      }
    }
  }
}