@import './theme';
@import './variables';
@import './mixins';

label.default {
  color: $primary;
  font-size: 14px;
  line-height: 14px;
  font-weight: 600;

  @include breakpoint(sm) {
    font-size: 13px;
    line-height: 13px;
  }

  @include dark {
    color: $white;
  }

  &.isUploadFile {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    width: 110px;
    height: 20px;
    color: $white;
    border-radius: 5px;
    font-size: 13px;
    line-height: 14px;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 0px;

    @include breakpoint(sm) {
      width: 100px;
      height: 30px;
      font-size: 12px;
    }
  }

  &.edit-avatar {
    background-color: $primary;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: absolute;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  
    @include breakpoint(sm) {
      width: 26px;
      height: 26px;
      margin-right: 0px;
    }
  
    svg {
      color: $white;
      height: 16px;
      width: 16px;
  
      @include breakpoint(sm) {
        width: 14px;
        height: 14px;
      }
    }
  }
}