@import './theme';
@import './variables';
@import './mixins';

div.page {
  display: flex;
  width: 100%;
  flex-direction: column;

  div.container-page {
    display: flex;
    
    @include breakpoint(sm) {
      flex-direction: column;
    }
  }

  div.container-navbar {
    display: contents;
    width: 100%;
  }
}