@import './theme';
@import './variables';
@import './mixins';

div.page {
  display: flex;
  width: 100%;
  flex-direction: column;

  div.container-page {
  
    @include breakpoint(sm) {
      flex-direction: column;
    }
  }

  div.container-navbar {
    display: contents;
    width: 100%;
  }

  div.content-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: $gray-lightest;

    &.bg-transparent {
      background-color: transparent!important;
    }

    @include breakpoint(md) {
      width: 100%!important;
    }

    @include dark-contrast {
      background-color: $dt-dark;
    }

    @include invert-contrast {
      background-color: invert($color: $gray-lightest);
    }
  }
}