@import './theme';
@import './variables';
@import './mixins';

div.card {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  padding: 12px 20px;

  @include dark-contrast {
    background-color: $gray-dark-light;
    transition: background-color 0.5s ease-out;
  }

  div.card-icon {
    display: flex;
    
    @include dark-contrast {
      color: $gray-lightest;
    }
  }

  div.card-lead {
    display: flex;
    flex-direction: column;
    width: 220px;
    height: 60px;

    @include breakpoint(sm) {
      width: 180px;
      height: 50px;
    }

    p {
      font-size: 14px;
      line-height: 20px;
      font-weight: 400;
      color: $black;

      @include breakpoint(sm) {
        font-size: 12px;
        line-height: 18px;
      }

      @include dark-contrast {
        color: $gray-lightest;
      }
    }

    h3 {
      font-size: 32px;
      line-height: 38px;
      font-weight: 600;
      color: $black;

      @include breakpoint(sm) {
        font-size: 24px;
        line-height: 24px;
      }

      @include dark-contrast {
        color: $gray-lightest;
      }
    }
  }
}