@import './theme';
@import './variables';

div.page-list-environments {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: $gray-lightest;

  div.container-list-environments {
    display: flex;

    @include breakpoint(sm) {
      flex-direction: column;
    }

    div.content-list-button {
      display: flex;
      justify-content: flex-end;
      max-width: 1900px;
      width: 100%;
      margin: 0 auto;
    }

    div.content-list-environments {
      display: flex;
      flex-direction: column;
      flex: 1;
      justify-content: flex-start;
      gap: 3rem;
      margin: 100px 76px 30px;

      @include breakpoint(xl) {
        margin: 60px 40px 30px;
      }
    
      @include breakpoint(sm) {
        margin: 60px 30px 30px;
      }
      
      h1 {
        font-size: 32px;
        line-height: 38px;
        font-weight: 600;
        color: $black;

        @include breakpoint(md) {
          font-size: 24px;
          line-height: 30px;
        }

        @include breakpoint(sm) {
          font-size: 20px;
          line-height: 26px;
        }
      }
    }

    div.container {

      @include breakpoint(md) {
        display: grid;
      }

      div.content-list {
        max-width: 1900px;
        width: 100%;
        margin: 0 auto;
        overflow-y: auto;
        scroll-behavior: smooth;
        height: 58vh;

        &::-webkit-scrollbar {
          width: 17px;
        }
      
        &::-webkit-scrollbar-track {
          background: transparent;
        }
      
        &::-webkit-scrollbar-thumb {
          background-color: $gray;
          border-radius: 20px;
          border: 5px solid #F6F8FA;
        }

        div.content-list-scroll {

          @include breakpoint(md) {
            overflow-x: auto;
            width: 1300px;
          }
          
        }

        table {
          position: relative;
          margin: 0 auto;
          table-layout: auto;

          @include breakpoint(xxl) {
            width: 100%;
          }  

          thead {

            th {
              position: sticky;
              top: 0;
              background-color: #F6F8FA;
              font-size: 16px;
              line-height: 24px;
              color: $black;
              text-align: left;
              border-bottom: 1px solid $black;
              padding-bottom: 10px;
          
              @include breakpoint(md) {
                font-size: 13px;
                line-height: 15px;
              }
            }
          }

          tbody tr:nth-child(odd) {
            background-color: $white;
          }

          td {
            padding: 6px 10px;
            font-size: 14px;
            line-height: 22px;
            color: $black;

            @include breakpoint(xxl) {
              &:nth-child(4) {
                width: 40%;
              }
            }

            @include breakpoint(xl) {
              &:nth-child(4) {
                width: 30%;
              }
            }

            span.column-description {
              font-size: 14px;
              line-height: 20px;
              overflow: hidden;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-line-clamp: 3;
              -webkit-box-orient: vertical;
          
              @include breakpoint(md) {
                -webkit-line-clamp: 3;
                font-size: 12px;
                line-height: 16px;
              }
            }

            @include breakpoint(md) {
              font-size: 12px;
              line-height: 16px;
            }

            img {
              max-width: 200px;
              width: 100%;
              height: 90px;
              border-radius: 4px;
              object-fit: cover;

              @include breakpoint(md) {
                height: 50px;
              }
            }

            p {

              &.status-available {
                color: $green-dark;
              }

              &.status-locked {
                color: $gray;
              }

              &.status-pending {
                color: $orange;
              }

              &.status-disabled {
                color: $red-dark;
              }
            }

            div.content-buttons {
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 1rem;

              div.circle-button {
                width: 22.75px;
                height: 22.75px;
                cursor: pointer;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;

                @include breakpoint(sm) {
                  width: 16.25px;
                  height: 16.25px;
                }

                &.icon-edit {
                  background: $primary;

                  &:hover {
                    background: $primary;
                  }
                }

                &.icon-close {
                  background: $red;

                  &:hover {
                    background: $red-dark;
                  }
                }

                svg {
                  color: $white;
                  width: 14px;
                  height: 14px;

                  @include breakpoint(sm) {
                    width: 10px;
                    height: 10px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}