@import './theme';
@import './variables';

div.page-requests {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: $gray-lightest;

  div.container-requests {
    display: flex;

    @include breakpoint(sm) {
      flex-direction: column;
    }

    div.content-requests {
      display: flex;
      flex-direction: column;
      flex: 1;
      justify-content: flex-start;
      margin: 100px 76px 30px;

      @include breakpoint(xl) {
        margin: 60px 40px 30px;
      }

      @include breakpoint(sm) {
        margin: 60px 30px 30px;
      }

      h1 {
        font-size: 32px;
        line-height: 38px;
        font-weight: 600;
        color: $black;
        margin-bottom: 60px;

        @include breakpoint(md) {
          font-size: 24px;
          line-height: 30px;
        }

        @include breakpoint(sm) {
          font-size: 20px;
          line-height: 26px;
        }
      }
    }

    div.content-requests-list {
      width: 100%;
      margin: 0 auto;

      div.content-list-scroll {
        max-width: 1900px;
        width: 100%;
        margin: 0 auto;
        overflow-y: auto;
        scroll-behavior: smooth;
        height: 58vh;

        @include breakpoint(sm) {
          overflow-x: auto;
        }

        &::-webkit-scrollbar {
          width: 17px;
        }

        &::-webkit-scrollbar-track {
          background: transparent;
        }

        &::-webkit-scrollbar-thumb {
          background-color: $gray;
          border-radius: 20px;
          border: 5px solid #F6F8FA;
        }
      }

      table {
        position: relative;
        margin: 0 auto;
        table-layout: fixed;

        @include breakpoint(xxl) {
          width: 100%;
        }

        thead {

          th {
            position: sticky;
            top: 0;
            background-color: #F6F8FA;
            font-size: 16px;
            line-height: 24px;
            color: $black;
            text-align: left;
            border-bottom: 1px solid $black;
            padding-bottom: 10px;

            @include breakpoint(md) {
              font-size: 13px;
              line-height: 15px;
            }
          }
        }

        tbody tr:nth-child(odd) {
          background-color: $white;
        }

        td {
          padding: 6px 10px;
          font-size: 14px;
          line-height: 24px;
          color: $black;

          @include breakpoint(md) {
            font-size: 12px;
            line-height: 16px;
          }

          img {
            max-width: 200px;
            width: 100%;
            height: 50px;
            border-radius: 4px;
            object-fit: cover;
          
            @include breakpoint(md) {
              height: 50px;
            }
          }

          div.content-buttons-requests {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;

            svg {
              width: 28px;
              height: 28px;
              cursor: pointer;

              @include breakpoint(sm) {
                width: 20px;
                height: 20px;
              }

              &.icon-check {
                color: $green;

                &:hover {
                  color: $green-dark;
                }
              }

              &.icon-close {
                color: $red;

                &:hover {
                  color: $red-dark;
                }
              }  
            }

            button.button-cancel {
              width: 100px;
              height: 34px;
              background-color: $red;
              color: $white;

              @include breakpoint(sm) {
                width: 80px;
                height: 30px;
              }
            }
          }
        }
      }
    }
  }
}