@import './theme';
@import './variables';

div.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: $white;

  div.container {
    display: flex;

    div.content {
      display: flex;
      flex-direction: column;
      flex: 1;
      justify-content: flex-start;
      margin: 100px 76px 30px;
      gap: 3rem;

      @include breakpoint(sm) {
        margin: 60px 30px 30px;
        gap: 5rem;
      }

      h1 {
        font-size: 32px;
        line-height: 38px;
        font-weight: 600;
        color: $black;

        @include breakpoint(sm) {
          font-size: 24px;
          line-height: 28px;
        }
      }
    }

    div.content-list {

      table {
        width: 60%;
        margin: 0 auto;

        @include breakpoint(lg) {
          width: 100%;
        }

        th {
          font-size: 16px;
          line-height: 24px;
          color: $black;
          text-align: left;
          border-bottom: 1px solid $black;
          padding-bottom: 10px;

          @include breakpoint(sm) {
            font-size: 10px;
            line-height: 14px;
          }
        }

        tbody tr:nth-child(odd) {
          background-color: $gray-lightest;
        }

        td {
          padding: 6px 10px;
          font-size: 14px;
          line-height: 24px;
          color: $black;

          @include breakpoint(sm) {
            font-size: 8px;
            line-height: 12px;
          }

          img {
            width: 40px;
            height: 40px;
            border-radius: 50%;

            @include breakpoint(sm) {
              width: 25px;
              height: 25px;
            }
          }

          button {
            background: transparent;
            width: 16px;
            height: 16px;

            svg {
              z-index: 1;
              width: 16px;
              height: 16px;
              color: $black;
          
              @include breakpoint(sm) {
                width: 10px;
                height: 10px;
              }
            }
          }
        }
      }
    }
  }
}