@import './theme';
@import './variables';

div.page-my-requests {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: $gray-lightest;

  div.container-my-requests {
    display: flex;

    @include breakpoint(sm) {
      flex-direction: column;
    }

    div.content-my-requests {
      display: flex;
      flex-direction: column;
      flex: 1;
      justify-content: flex-start;
      margin: 100px 76px 30px;

      @include breakpoint(xl) {
        margin: 60px 40px 30px;
      }

      @include breakpoint(sm) {
        margin: 60px 30px 30px;
      }

      h1 {
        font-size: 32px;
        line-height: 38px;
        font-weight: 600;
        color: $black;
        margin-bottom: 60px;

        @include breakpoint(md) {
          font-size: 24px;
          line-height: 30px;
        }

        @include breakpoint(sm) {
          font-size: 20px;
          line-height: 26px;
        }
      }
    }

    div.container {
      @include breakpoint(md) {
        display: grid;
      }

      div.content-my-requests-list {
        max-width: 1900px;
        width: 100%;
        margin: 0 auto;
        overflow-y: auto;
        scroll-behavior: smooth;
        height: 58vh;

        &::-webkit-scrollbar {
          width: 17px;
        }
      
        &::-webkit-scrollbar-track {
          background: transparent;
        }
      
        &::-webkit-scrollbar-thumb {
          background-color: $gray;
          border-radius: 20px;
          border: 5px solid #F6F8FA;
        }

        div.content-list-scroll {

          @include breakpoint(md) {
            overflow-x: auto;
            width: 1200px;
          }
        }

        table {
          position: relative;
          margin: 0 auto;

          @include breakpoint(xxl) {
            width: 100%;
          }

          thead {

            th {
              position: sticky;
              top: 0;
              background-color: #F6F8FA;
              font-size: 16px;
              line-height: 24px;
              color: $black;
              text-align: left;
              border-bottom: 1px solid $black;
              padding-bottom: 10px;

              @include breakpoint(md) {
                font-size: 13px;
                line-height: 15px;
              }
            }
          }

          tbody tr:nth-child(odd) {
            background-color: $white;
          }

          td {
            padding: 6px 10px;
            font-size: 14px;
            line-height: 24px;
            color: $black;

            @include breakpoint(md) {
              font-size: 12px;
              line-height: 16px;
            }

            img {
              max-width: 200px;
              width: 100%;
              height: 50px;
              border-radius: 4px;
              object-fit: cover;
            
              @include breakpoint(md) {
                height: 50px;
              }
            }

            p {

              &.status-approved {
                color: $green-dark;
              }
            
              &.status-pending {
                color: $orange;
              }
            
              &.status-not-approved {
                color: $red-dark;
              }
            
              &.status-cancelled {
                color: $red;
              }
            }

            div.content-buttons-my-requests {
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 1rem;

              svg {
                width: 28px;
                height: 28px;
                cursor: pointer;

                @include breakpoint(sm) {
                  width: 20px;
                  height: 20px;
                }

                &.icon-close {
                  color: $red;

                  &:hover {
                    color: $red-dark;
                  }
                } 
                
                &.disabled {
                  color: $gray;
                  cursor: auto;
                }
              }
            }
          }
        }
      }
    }
  }
}