@import './theme';
@import './variables';
@import './mixins';

div.page-login {
  display: flex;
  align-items: stretch;
  height: 100vh;

  aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 6;
    background: $primary;
    color: $white;
    padding: 120px 80px;

    @include breakpoint(lg) {
      padding: 120px 40px;
    }

    @include breakpoint(md) {
      display: none;
    }

    @include dark-contrast {
      background-color: $dt-blue;
    }

    @include invert-contrast {
      background-color: invert($color: $primary);
    }

    div.page-login-title {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      h1 {
        color: $white;
        font-size: 42px;
        line-height: 42px;
        font-weight: 600;
        margin-bottom: 30px;

        @include breakpoint(xl) {
          font-size: 30px;
          line-height: 30px;
        }

        @include invert-contrast {
          color: invert($color: $white);
        }

        span {
          font-weight: 400;
        }

        @include breakpoint(sm) {
          font-size: 30px;
          line-height: 30px;
        }
      }
    }

    div.page-login-image {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      img {
        width: 100%;
        max-width: 800px;

        @include breakpoint(xl) {
          max-width: 600px;
        }
      }
    }

    strong {
      font-size: 22px;
      line-height: 22px;
      margin-top: 30px;

      @include breakpoint(xl) {
        font-size: 18px;
        line-height: 18px;
      }

      @include invert-contrast {
        color: invert($color: $white);
      }
    }

    p {
      font-size: 16px;
      line-height: 20px;
      margin-top: 10px;
      color: $white;
      text-align: center;

      @include breakpoint(xl) {
        font-size: 14px;
        line-height: 18px;
      }

      @include invert-contrast {
        color: invert($color: $white);
      }
    }
  }

  main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 9;
    background-image: url('../assets/wave-vertical.png');
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;

    @include breakpoint(md) {
      justify-content: flex-start;
      background-image: none;
    }

    @include dark-contrast {
      background-image: url('../assets/wave-vertical-darkmode.png');

      @include breakpoint(md) {
        background-image: none;
      }
    }

    @include invert-contrast {
      background-image: url('../assets/wave-vertical-invertmode.png');

      @include breakpoint(md) {
        background-image: none;
      }
    }

    div.page-login-logo {
      background-image: url('../assets/wave-horizontal.png');
      background-position: bottom;
      background-size: contain;
      background-repeat: no-repeat;
      display: none;
      width: 100%;
      height: 30vh;
      background-color: $primary;
      padding: 0 20px;

      @include breakpoint(md) {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }

      @include dark-contrast {
        background-image: url('../assets/wave-horizontal-darkmode.png');
      }

      h1 {
        color: $white;
        font-size: 42px;
        line-height: 42px;
        font-weight: 600;
        margin-bottom: 30px;
        text-align: center;

        @include breakpoint(xl) {
          font-size: 30px;
          line-height: 30px;
        }

        @include invert-contrast {
          color: invert($color: $white);
        }

        span {
          font-weight: 400;

          @include invert-contrast {
            color: invert($color: $white);
          }
        }
      }
    }

    div.divider-wrapper::before {
      content: '';
      border-bottom: 1px solid #c2c8d0;
      flex: 1 0 auto;
      height: 0.5em;
      margin: 0;

      @include dark-contrast {
        border-color: $dt-green;
      }
    }

    div.divider-wrapper::after {
      content: '';
      border-bottom: 1px solid #c2c8d0;
      flex: 1 0 auto;
      height: 0.5em;
      margin: 0;

      @include dark-contrast {
        border-color: $dt-green;
      }
    }

    div.divider-wrapper {
      display: flex;
      flex-direction: row;
      text-transform: uppercase;
      border: none;
      font-size: 12px;
      font-weight: 400;
      margin: 0 0 15px 0;
      padding: 15px 0 0;
      align-items: center;
      justify-content: center;
      width: 100%;

      span {
        text-align: center;
        flex: 0.2 0 auto;
        margin: 0;
        height: 12px;

        @include dark-contrast {
          color: $dt-green;
        }

        @include invert-contrast {
          color: invert($color: $black);
        }
      }
    }

    div.page-login-content {
      max-width: 370px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 0 30px;

      h4 {
        color: $primary;
        font-size: 28px;
        line-height: 28px;
        font-weight: 600;
        margin: 40px 0px;

        @include breakpoint(lg) {
          font-size: 18px;
          line-height: 18px;
        }

        @include breakpoint(sm) {
          font-size: 18px;
          line-height: 18px;
        }

        @include dark-contrast {
          color: $dt-yellow;
        }

        @include invert-contrast {
          color: invert($color: $primary);
        }
      }

      form {
        display: flex;
        flex-direction: column;
        width: 100%;

        div.page-login-footer {
          display: flex;
          align-items: flex-end;
          flex-direction: column;
          gap: 2rem;

          a {
            color: $primary;
            font-size: 14px;
            line-height: 14px;
            text-decoration: none;

            @include breakpoint(sm) {
              font-size: 12px;
              line-height: 12px;
            }

            @include dark-contrast {
              color: $dt-green;
            }

            @include invert-contrast {
              color: invert($color: $primary);
            }
          }
        }
      }

      div.oauth-content {
        display: flex;
        width: 100%;
        flex-direction: column;
        margin: 0;
        padding: 0;
        gap: 10px;

        div.button-container {
          display: flex;
          height: 40px;
          width: 100%;

          button {
            display: flex;
            width: 100% !important;
            height: 40px !important;
            margin: 0 !important;
            font-size: 14px !important;
            line-height: 14px !important;
            font-weight: 600 !important;

            &.login-button {
              @include dark-contrast {
                background: $dt-dark !important;
                border: 1px solid $dt-yellow !important;
                color: $dt-yellow !important;
              }
            }

            &.login-button {
              @include invert-contrast {
                background: invert($color: $primary)!important;
                color: $black!important;
              }
            }

            div {
              text-align: center !important;
            }
          }
        }
      }
    }
  }
}
