@import './theme';
@import './variables';

div.page-login {
  display: flex;
  align-items: stretch;
  height: 100vh;

  aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 6;
    background: $primary;
    color: $white;
    padding: 120px 80px;

    @include breakpoint(lg) {
      padding: 120px 40px;
    }

    @include breakpoint(md) {
      display: none;
    }

    div.page-login-title {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      h1 {
        color: $white;
        font-size: 42px;
        line-height: 42px;
        font-weight: 600;
        margin-bottom: 30px;

        @include breakpoint(xl) {
          font-size: 30px;
          line-height: 30px;
        }

        span {
          font-weight: 400;
        }

        @include breakpoint(sm) {
          font-size: 30px;
          line-height: 30px;
        }
      }
    }

    div.page-login-image {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      img {
        width: 100%;
        max-width: 800px;

        @include breakpoint(xl) {
          max-width: 600px;
        }
      }
    }

    strong {
      font-size: 22px;
      line-height: 22px;
      margin-top: 30px;
    }

    p {
      font-size: 16px;
      line-height: 20px;
      margin-top: 10px;
      color: $white;
    }

    svg.wave-primary {
      transform: rotate(90deg);
      position: absolute;
      top: 40%;
      left: 0;
      z-index: 1;
    }

    svg.wave-second {
      transform: rotate(90deg);
      position: absolute;
      top: 43%;
      left: 2%;
    }
  }

  main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 9;
    background: $white;
    background-image: url('../assets//wave-vertical.png');
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;

    @include breakpoint(md) {
      justify-content: flex-start;
      background-image: none;
    }

    div.page-login-logo {
      background-image: url('../assets//wave-horizontal.png');
      background-position: bottom;
      background-size: contain;
      background-repeat: no-repeat;
      display: none;
      width: 100%;
      height: 30vh;
      background-color: $primary;
      padding: 0 20px;

      @include breakpoint(md) {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }

      h1 {
        color: $white;
        font-size: 42px;
        line-height: 42px;
        font-weight: 600;
        margin-bottom: 30px;
        text-align: center;

        @include breakpoint(xl) {
          font-size: 30px;
          line-height: 30px;
        }

        span {
          font-weight: 400;
        }

        @include breakpoint(sm) {
          font-size: 30px;
          line-height: 30px;
        }
      }

      img {
        width: 150px;
      }
    }

    div.page-login-content {
      max-width: 370px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 0 30px;

      h4 {
        color: $primary;
        font-size: 24px;
        line-height: 24px;
        font-weight: 400;
        margin-top: 30px;
        margin-bottom: 30px;

        @include breakpoint(lg) {
          font-size: 18px;
          line-height: 18px;
        }

        @include breakpoint(sm) {
          font-size: 18px;
          line-height: 18px;
        }
      }

      form {
        display: flex;
        flex-direction: column;
        width: 100%;

        div.page-login-footer {
          display: flex;
          align-items: flex-end;
          flex-direction: column;
          gap: 2rem;

          a {
            color: $primary;
            font-size: 14px;
            line-height: 14px;
            text-decoration: none;

            @include breakpoint(sm) {
              font-size: 12px;
              line-height: 12px;
            }
          }
        }
      }
    }
  }
}