@import './theme';
@import './variables';
@import './mixins';

div.page-menu-user {
  display: flex;
  width: 100vw;
  height: 100vh;

  div.container-menu-user {
    width: 100%;

    @include breakpoint(xxl) {
      margin: 100px 76px 30px;
    }

    @include breakpoint(xl) {
      margin: 60px 40px 30px;
    }
    
    @include breakpoint(sm) {
      margin: 60px 20px 30px;
      width: auto;
    }

    div.content-welcome-user {

      h1 {
        font-size: 32px;
        line-height: 38px;
        font-weight: 400;
        color: $black;
        margin-bottom: 60px;

        @include breakpoint(xl) {
          margin-bottom: 40px;
        }
    
        @include breakpoint(sm) {
          font-size: 24px;
          line-height: 28px;
          margin-bottom: 30px;
          padding-top: 30px;
        }

        @include dark {
          color: $gray-lightest;
        }
      }
    }
  }

  div.content-title-user {

    h2 {
      font-size: 22px;
      line-height: 26px;
      color: $black;
      margin-bottom: 20px;
  
      @include breakpoint(sm) {
        font-size: 18px;
        line-height: 24px;
      }

      @include dark {
        color: $gray-lightest;
      }
    }
  }

  div.content-menu-user {
    display: flex;
    overflow-y: auto;
    scroll-behavior: smooth;
    height: 58vh;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 20px;
    padding: 20px;

    @include breakpoint(xl) {
      height: 66vh;
    }

    @include breakpoint(md) {
      justify-content: center;
      gap: 1rem;
      height: 68vh;
    }

    @include breakpoint(sm) {
      margin: 0px 0px 30px;
    }

    @include breakpoint(xs) {
      padding: 20px 14px;
    }
  }
    
  div.content-menu-user::-webkit-scrollbar {
    width: 0;
    scroll-behavior: smooth;
  }
}