@import './theme';
@import './variables';

div.page-menu-admin {
  display: flex;
  flex-direction: column;
  height: 100vh;

  div.container-menu-admin {
    display: flex;

    @include breakpoint(sm) {
      flex-direction: column;
    }

    div.content-menu-admin {
      display: flex;
      flex-direction: column;
      flex: 1;
      justify-content: flex-start;
      margin: 100px 76px 30px;
      gap: 8rem;

      @include breakpoint(sm) {
        margin: 60px 30px 30px;
        gap: 5rem;
      }

      div.content-welcome {

        h1 {
          font-size: 32px;
          line-height: 38px;
          font-weight: 400;
          color: $black;

          @include breakpoint(sm) {
            font-size: 24px;
            line-height: 28px;
          }
        }
      }

      div.content-main {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        h2 {
          font-size: 22px;
          line-height: 26px;
          font-weight: 600;
          color: $black;

          @include breakpoint(sm) {
            font-size: 16px;
            line-height: 22px;
          }
        }

        div.content-lead {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          gap: 2rem;

          div.card {
            display: flex;
            align-items: center;
            gap: 1rem;
            
            svg {
              width: 28px;
            }
          }
        }
      }
    }
  }
}