@import './theme';
@import './variables';

nav.primary-menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 3rem;
  width: 100%;
  background-color: $primary;
  transition: max-width 0.7s ease-in-out;
  height: 100vh;
  padding: 30px 0px 80px;
  z-index: 1;

  @include breakpoint(xl) {
    padding: 30px 0px;
    gap: 2rem;
  }

  @include breakpoint(sm) {
    display: none;
  }

  div.content-button {
    display: flex;
    width: 100%;
    padding: 0px 16px;
    
    button.arrow-button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 26px;
      height: 26px;
      cursor: pointer;
      background: transparent;
      border: 0   ;

      svg {
        color: $white;
      }
    }
  }

  div.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 0 20px;

    img {
      transition: width 0.7s ease-in-out;
    }
  }

  div.profile {
    display: flex;
    flex-direction: column;
    align-items: center;

    h4 {
      color: #ffffff;
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      font-size: 14px;
      margin-bottom: 4px;

      @include breakpoint(xl) {
        font-size: 12px;
      }
    }

    span {
      color: #ffffff;
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      font-size: 12px;

      @include breakpoint(xl) {
        font-size: 10px;
      }
    }

    img {
      border-radius: 50%;
      margin-bottom: 10px;
      transition: all 0.7s ease-in-out;
      object-fit: cover;

      @include breakpoint(xl) {
        margin-bottom: 10px;
      }
    }

    strong { 
      color: $white;
      font-size: 14px;
      line-height: 20px;

      @include breakpoint(sm) {
        font-size: 12px;
        line-height: 16px;
      }
    }
  }

  div.middle-navbar {
    display: flex;
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    position: relative;
    justify-content: center;
    padding: 4px 6px;
    
    ul.navbar-list {
      display: flex;
      flex-direction: column;
      align-items: center;
      list-style: none;
      gap: 0.5rem;
      width: 100%;
      padding-left: 0px;

      li {
        width: 100%;
        position: relative;

        &:hover {
          border-left: 3px solid #ffffff;
          background-color: rgba(181, 194, 193, 0.178);
        }

        a {
          display: flex;
          align-items: center;
          gap: 0.8rem;
          color: #ffffff;
          font-family: 'Roboto', sans-serif;
          font-weight: 400;
          font-size: 16px;
          text-decoration: none;

          span {
            transition: all 0.3s cubic-bezier(0.64, 0.2, 1, 0.03);
          }
        }
      }

      div.navbar-list-logout {
        display: flex;
        width: 100%;

        &:hover {
            border-left: 3px solid #ffffff;
            background-color: rgba(181, 194, 193, 0.178);
          }

        button.navbar-button-logout {
          display: flex;
          width: 100%;
          align-items: center;
          background-color: transparent; 
          gap: 0.8rem;
          height: auto;
          border: 0;
          cursor: pointer;  

          svg {
            color: $white;
          }

          span {
            color: #ffffff;
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            font-size: 16px;
            text-decoration: none;
          }
        }
      } 
    }
  }
}
