@import './theme';
@import './variables';

div.page-register-user {
  display: flex;
  flex-direction: column;
  height: 100vh;

  div.container-register-user {
    display: flex;

    @include breakpoint(sm) {
      flex-direction: column;
    }

    div.content-register-user {
      display: flex;
      flex-direction: column;
      flex: 1;
      justify-content: flex-start;
      margin: 100px 76px 30px;
      gap: 3rem;

      @include breakpoint(sm) {
        margin: 60px 30px 30px;
        gap: 5rem;
      }

      h1 {
        font-size: 32px;
        line-height: 38px;
        font-weight: 600;
        color: $black;

        @include breakpoint(sm) {
          font-size: 24px;
          line-height: 28px;
        }
      }

      div.content-form {
        display: flex;
        justify-content: center;

        form {
          display: flex;
          flex-direction: column;

          @include breakpoint(sm) {
            width: 100%;
          }

          div.form-button {
            display: flex;
            justify-content: flex-end;
          }

          div.content-upload {
            display: flex;
            align-items: center;
            gap: 1.5rem;
            height: 150px;

            @include breakpoint(sm) {
              height: 140px;
              gap: 1rem;
            }
            
            div.image-upload {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 100px;
              height: 100px;
              background-color: #EAEEF2;
              border-radius: 50%;

              @include breakpoint(sm) {
                width: 80px;
                height: 80px;
              }
            }

            div.button-upload {
              display: flex;
              flex-direction: column;

              p {
                font-size: 16px;
                line-height: 24px;
                font-weight: 600;
                color: $black;
                margin-bottom: 8px;

                @include breakpoint(sm) {
                  font-size: 14px;
                  line-height: 14px;
                }
              }
            }
          }
        }
      }
    }
  }
}