@import './theme';
@import './variables';
@import './mixins';

div.modal-request-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1300;

  @include invert-contrast {
    background-color: invert($color: rgba(0, 0, 0, 0.5));
  }
  
  div.modal-request {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 370px;
    height: auto;
    border-radius: 10px;
    background-color: $white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 30px;

    @include breakpoint(sm) {
      width: 100%;
      height: auto;
      padding: 20px 24px;
      margin: 0 20px;
    }

    @include dark-contrast {
      background-color: $gray-dark-light;
      box-shadow: none;
    }

    @include invert-contrast {
      background-color: invert($color: $white);
    }

    div.modal-request-button-close {
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;
      width: 100%;

      button.modal-request-button-default {
        background-color: transparent;
        width: 22px;
        height: 22px;
        border: 0;
        cursor: pointer;

        svg {
          color: $black;
      
          @include breakpoint(sm) {
            width: 18px;
            height: 18px;
          }

          @include dark-contrast {
            color: $gray-lightest;
          }

          @include invert-contrast {
            color: invert($color: $black);
          }
        }
      }
    }

    div.modal-request-content {
      display: flex;
      justify-content: center;
      flex-direction: column;
      max-width: auto; 
      width: 100%;

      @include breakpoint(sm) {
        width: 100%;
      }

      div.modal-request-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;

        h4 {
          font-size: 16px;
          line-height: 24px;
          color: $black;

          @include dark-contrast {
            color: $gray-lightest;
          }

          @include invert-contrast {
            color: invert($color: $black);
          }
        }

        div.modal-request-info-capacity {
          display: flex;
          gap: 0.5rem;
          align-items: center;

          @include dark-contrast {
            color: $gray-lightest;
          }

          @include invert-contrast {
            color: invert($color: $black);
          }
        }
      }

      div.modal-request-image {
        display: flex;
        justify-content: center;
        width: 100%;
        border-radius: 50%;
        margin-top: 10px;
        flex-direction: column;

        img {
          width: 100%;
          height: 130px;
          object-fit: cover;
          border-radius: 10px;
          margin-bottom: 10px;
        }

        span {
          font-size: 13px;
          line-height: 18px;
          margin-bottom: 20px;
          text-align: justify;
          letter-spacing: -0.5px;
          
          @include dark-contrast {
            color: $gray-lightest;
          }

          @include invert-contrast {
            color: invert($color: $black);
          }
        }
      }

      form {
        display: flex;
        flex-direction: column;
        max-width: 370px;
        width: 100%;

        div.form-group {
          position: relative;
      
          input {
            border: 1px solid #ccc;
            padding: 8px;

            @include invert-contrast {
              border-color: invert($color: #ccc);
            }
          }
      
          div.bubble-notification {
            /* Styles for the bubble notification */
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            padding: 4px;
            background-color: #ffcccc;
            color: #ff0000;
            font-size: 12px;
            display: none;     
          }
      
          input:invalid+.bubble-notification {
            display: block;
          }
        }

        div.modal-request-form-button {
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }
}