@import './theme';
@import './variables';

.Toastify__close-button--light {
  width: 50px!important;
  display: flex;
  justify-content: flex-end;
}

.Toastify__toast--success {

  .Toastify__toast-icon svg {
    fill: $green;
  }

  .Toastify__progress-bar--success {
    background: $green;
  }
}

.Toastify__toast--error {
  .Toastify__toast-icon svg {
    fill: $red;
  }

  .Toastify__progress-bar--error {
    background: $red;
  }
}