@import './theme';
@import './variables';

:root {
  .Toastify__toast-icon {
    svg {
      fill: $green;
    }
  }
}

.Toastify__toast {
  position: fixed!important;
}

.top-center {
  top: 1em!important;
  left: 50%!important;
  transform: translateX(-50%)!important;
}

.Toastify__progress-bar-theme--light {
  background: $green;
}

.Toastify__close-button--light {
  width: 50px!important;
}