@import './theme';
@import './variables';
@import './mixins';

div.accessibility-mode {
  width: 45px;
  height: 45px;
  background-color: $navy;
  z-index: 1000;
  position: fixed;
  top: 45%;
  right: 0;
  border-radius: 4px;
  margin: 4px;

  @include breakpoint(sm) {
    width: 35px;
    height: 35px;
  }

  @include invert-contrast {
    background-color: invert($color: $navy);
  }

  button.toggle {
    width: 45px;
    height: 45px;
    background-color: transparent;
    cursor: pointer;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 30px;
      height: 30px;
    }

    @include breakpoint(sm) {
      width: 35px;
      height: 35px;

      img {
        width: 25px;
        height: 25px;
      }
    }
  }
}
