@import './theme';
@import './variables';
@import './mixins';

div.theme-color-mode {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  background-color: $navy;
  z-index: 1000;
  position: fixed;
  top: 45%;
  right: 0;
  border-radius: 4px;
  margin: 4px;

  @include breakpoint(sm) {
    display: none;
  }

  @include invert-contrast {
    background-color: invert($color: $navy);
  }

  button.toggle {
    width: 45px;
    height: 45px;
    background-color: transparent;
    cursor: pointer;
    border: 0;

    img {
      width: 30px;
      height: 30px;
    }
  }
}
